{% extends 'base.html' %}
{% block title %}Inventario de aplicaciones{% endblock %}
{% block content %}
<div class="row">
	<h2 class="text-center mb-3">Inventario de aplicaciones</h2>
</div>
<div class="card">
	<div class="card-header">
		<h5 class="card-title">PC - Nombre</h5>
		<p>192.168.1.1</p>
	</div>
	<div class="card-body ">
		<div class="accordion" id="accordionExample1">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Aplicaciones
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
					<div class="accordion-body">
						<ul class="list-group">
							<li class="list-group-item">Aplicación # 1</li>
							<li class="list-group-item">Aplicación # 2</li>
							<li class="list-group-item">Aplicación # 3</li>
							<li class="list-group-item">Aplicación # 4</li>
							<li class="list-group-item">Aplicación # 5</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}