{% extends 'base.html' %}
{% block title %}Inventario de equipos en esta red{% endblock %}
{% block content %}
<div class="row p-md-4 rounded  ">
	<h2 class="">Inventario de aplicaciones</h2>
		<div class="col-md-3 p-md-4 my-2 border rounded border-info">
			<p><span class="fw-bold">IP:</span> {{pc_apps.ip}}</p>
			<p><span class="fw-bold">Nombre:</span> {{pc_apps.host_name}}</p>
			<p><span class="fw-bold">Cantidad de aplicaciones:</span> {{pc_apps.apps|length}}</p>
		</div>

</div>
<div class="row p-md-4 my-2" >
	<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Aplicación</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for app in pc_apps.apps %}
		<tr>
			<td>{{app.IdentifyingNumber}}</td>
			<td>{{app.Name}}</td>
			<td class="min-width-column"><button class="btn rounded fs-3 text-danger"><i class="bi bi-trash"></i></button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}