{% extends 'base.html' %}
{% block title %}Inventario de equipos en esta red{% endblock %}
{% block content %}
<div class="row">
	<h2 class="text-center mb-3">Lista de equipos en esta red</h2>
	<div class="d-flex justify-content-between">
		<h5><span class="badge bg-secondary px-3">{{ list_hosts|length }}</span></h5>
		<a class="btn btn-danger" href="{{url_for('host_inventory.re_scan')}}">Regenerar lista</a>
	</div>
</div>
<table class="table table-bordered my-2">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Dirección IP</th>
		</tr>
	</thead>
	<tbody>
		{% for host in list_hosts %}
		<tr>
			<td>PC - {{host.name}}</td>
			<td>{{host.ip}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}