{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row px-md-4 my-3">
	<h1>Administración de Red</h1>
	<p>Gestion y mentenimiento de equipos: sede X.</p>
</div>
<div class="row px-md-4 rounded max-height ">
	<div class="col-md-6 flex flex-column">
		{% include 'components/network.html' %}
		{% include 'components/hosts_card.html' %}
	</div>
	<div class="col-md-6 p-md-4 border rounded  height-100 overflow-auto">
		{% include 'components/menu_functions.html' %}
	</div>
</div>
<div class="row p-md-4 my-2" >
	<h2>Inventario de equipos</h2>
	<p>Equipos en esta red.</p>
	{% include 'components/hosts_table.html' %}
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/home-functions.mjs') }}"></script>
{% endblock %}