<a class="btn rounded border-1 btn-outline-dark p-4 my-2" href="{{url_for('index')}}" >Limpieza de temporales</a>
<a class="btn rounded border-1 btn-outline-dark p-4 my-2" href="{{url_for('index')}}" >Instalar actualizaciones</a>
<a class="btn rounded border-1 btn-outline-dark p-4 my-2" href="{{url_for('index')}}" >Bloqueador de sitios</a>
<a class="btn rounded border-1 btn-outline-dark p-4 my-2" href="{{url_for('host_inventory.index')}}" >Inventario de equipos</a>
<a class="btn rounded border-1 btn-outline-dark p-4 my-2" href="{{url_for('index')}}" >Inventario de aplicaciones</a>
<a class="btn rounded border-1 btn-outline-dark p-4 my-2" href="{{url_for('index')}}" >limpieza de registro</a>
<a class="btn rounded border-1 btn-outline-dark p-4 my-2" href="{{url_for('index')}}" >Inventario de actualizaciones</a>
<a class="btn rounded border-1 btn-outline-dark p-4 my-2" href="{{url_for('index')}}" >Desinstalador de aplicaciones</a>

